﻿<!DOCTYPE html>
<html>
<head>
	<title>be1.ru</title>
</head>
<body>
<p><strong>Перевод между своими счетами</strong><br />
<br />
Счет списания&nbsp;<select name = "deposit_from">
		<option th:each="card : ${cardsNumbers}" th:value="${card}" th:text="'Карта:'+${card}"></option></select><br />
<br />
Счет зачисления&nbsp;<select required="required"><option th:each="card : ${cardsNumbers}" th:value="${card}" th:text="'Карта:'+${card}"></option></select><br />
<br />
Сумма(руб)&nbsp;<input size="30" type="text" /></p>

<p><input name="submit" type="button" value="Перевести" />&nbsp;<input name="cancel" type="button" value="Отмена" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>
</body>
</html>
