<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>MainScreen</title>
</head>
<body>
<p><strong>Добро пожаловать в мини банк!</strong></p>

<p><a href="/transfers"><input name="transfers" type="button" value="Перевести деньги" /></a><a href="/credits"><input name="credit" type="button" value="Взять кредит" /></a>&nbsp;<input name="payments" type="button" value="Платежи" /></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:500px">
    <tbody>
    <tr>
        <td>Карта</td>
        <td th:text="${balance_card}"></td>
    </tr>
    <tr>
        <td>Вклад</td>
        <td th:text="${balance_contribution}"></td>
    </tr>
    <tr>
        <td>Кредит</td>
        <td>0</td>
    </tr>
    </tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><input name="clients" type="button" value="Клиенты" />&nbsp;<input name="transactions" type="button" value="Транзакции" />&nbsp;<input name="count" type="button" value="Счета" />&nbsp;</p>
</body>
</html>
