<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
</head>
<body>
<div>
    <form name="f" th:action="@{/perform-login}" th:object="${user}" method="post" >
        <fieldset>
            <legend>Войдите</legend>
            <div th:if="${param.error}" class="alert alert-error">
                Неправильные имя и пароль.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
            <label for="user">Имя</label>
            <input type="text" id="user" name="user" th:value="${login}"/>
            <label for="pass">Пароль</label>
            <input type="password" id="pass" name="pass" th:value="${password}"/>
            <div class="form-actions">
                <button type="submit">Войти</button>
                <button href="/registration/">Регистраци</button>
                <a href="/registration">Регистрация</a>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>